<div *ngIf="dataEntries?.weapon as weapons">
  <div *ngFor="let item of weapons">

    <hr />
    <h2>{{ item.uniquename }}</h2>

    <div *ngIf="item.craftingrequirements?.length">
      <div style="display: flex; gap: 1rem; align-items: center;">
        <app-icon [itemName]="item.uniquename"/>
        <ul>
          <li *ngFor="let requirement of item.craftingrequirements">
            <ul>
              <li *ngFor="let res of requirement.craftresource">
                <app-icon [itemName]="res.uniquename"/>
                {{ res.uniquename }} × {{ res.count }}
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    <div *ngIf="item.enchantments?.enchantment as enchants">
      <div
        *ngFor="let enchant of enchants; let i = index"
        style="margin-top: 1rem;"
      >
        <div style="display: flex; gap: 1rem; align-items: center;">
          <app-icon [itemName]="item.uniquename"/>
          <strong>Enchant {{ '@' + (i + 1) }}</strong>
        </div>

        <div
          *ngFor="let requirement of enchant.craftingrequirements"
          style="margin-left: 2rem;"
        >
          <ul>
            <li *ngFor="let res of requirement.craftresource">
              <app-icon [itemName]="res.uniquename"/>
              {{ res.uniquename }} × {{ res.count }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
