<div class="wrapper" *ngIf="parsedTable?.length">
  <div class="table-and-input">
    <div class="rows">
      <div class="row"
           *ngFor="let row of visibleQualities.length === 1 ? singleQualityTable : parsedTable; let i = index">
        <div class="cell"
             *ngFor="let cell of row.values"
             [ngStyle]="{ 'background-color': cityColors[cell.city] }"
             [class.selected]="selectedCities[visibleQualities.length === 1 ? 0 : i] === cell.city"
             (click)="onCellClick(visibleQualities.length === 1 ? 0 : i, cell.city)">
          {{ cell.value }}
        </div>

        <app-input *ngIf="visibleQualities.length !== 1"
                   [(value)]="inputValues[i]">
        </app-input>
      </div>
    </div>

    <div class="wrapper">
      <app-input *ngIf="visibleQualities.length === 1" [displayOnly]="true"
                 [value]="inputValues[0]*itemAmount"
      >
      </app-input>
      <app-input *ngIf="visibleQualities.length === 1"
                 [(value)]="inputValues[0]"
      >
      </app-input>
    </div>
  </div>
</div>
