<div class="table-and-input">
  <div class="row" *ngIf="!inTwoRows">
    @for (cell of cells; track cell.city; ) {
      <div class="cell"
           [ngStyle]="{ 'background-color': cityColors[cell.city] }"
           [class.selected]="selectedCity === cell.city"
           (click)="onCellClick(cell.city)">
        {{ cell.price }}
      </div>
    }
  </div>

  <div class="two-rows-container" *ngIf="inTwoRows">
    <div class="row">
      @for (cell of cells; track cell.city; let i = $index) {
        @if (i < (cells!.length) / 2) {
          <div class="cell"
               [ngStyle]="{ 'background-color': cityColors[cell.city] }"
               [class.selected]="selectedCity === cell.city"
               (click)="onCellClick(cell.city)">
            {{ cell.price }}
          </div>
        }
      }
    </div>
    <div class="row">
      @for (cell of cells; track cell.city; let i = $index) {
        @if (i >= (cells!.length) / 2) {
          <div class="cell"
               [ngStyle]="{ 'background-color': cityColors[cell.city] }"
               [class.selected]="selectedCity === cell.city"
               (click)="onCellClick(cell.city)">
            {{ cell.price }}
          </div>
        }
      }
    </div>
  </div>
</div>
