.price-display-wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
}
.row {
  display: flex;
  gap: 2px;
  border-radius: 8px;
  align-items: center;
}
.cell {
  text-align: center;
  padding: 4px;
  min-width: 60px;
}
