.input-wrapper {
  display: inline-flex;
  align-items: stretch;
  position: relative;
  font-size: 1rem;

  input {
    font-size: 1rem;
    padding: 0.3rem 2rem 0.3rem 0.5rem;
    width: 5ch;
    border: 0.1rem solid #ccc;
    text-align: right;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;

    button {
      font-size: 0.7rem;
      line-height: 1;
      padding: 0.01rem;
      width: 0.7rem;
      height: 0.7rem;
      border: none;
      background: #ccc;
      cursor: pointer;
    }
  }
}
