<div class="craft-recipe-wrapper">
  <div class="recipes-col">
    @for (res of craftingrequirement.craftresource; track res.uniquename; let i = $index) {
      <div class="recipes-wrapper">
        <app-craft-resource
          [craftResource]="res"
          [selectedResourcePrice]="resourcePricesSignal[i]"
        />
        <div class="recipes-col">
          <app-input [displayOnly]="true"
                     [value]="resourcePricesSignal[i]() * craftingrequirement.craftresource[i].count"
                     (valueChange)="updateResourcesCost()"/>
          <app-input [value]="resourcePricesSignal[i]()" (valueChange)="priceChangedManually(i, $event)"/>
        </div>
      </div>
    }
  </div>

  <app-input class="summary" [displayOnly]="true" [value]="totalResourcesCostSignal()"></app-input>
</div>
