<div class="craft-recipe-wrapper">
  <div class="recipes-col">
    <div class="recipes-wrapper" *ngFor="let res of craftingrequirement.craftresource  let i = index">
      <app-craft-resource
        [craftResource]="res"
        [selectedResourcePrice]="resourcePricesSignal[i]"
      />
      <div class="recipes-col">
        <app-input [displayOnly]="true"
                   [value]="resourcePricesSignal[i]() * craftingrequirement.craftresource[i].count"
                   (valueChange)="updateResourcesCost()"/>
        <app-input [value]="resourcePricesSignal[i]()" (valueChange)="priceChangedManually(i, $event)"/>
      </div>
    </div>
  </div>

  <app-input class="summary" [displayOnly]="true" [value]="totalResourcesCostSignal()"></app-input>

</div>
