<div class="craft-recipe-wrapper">
  <div class="recipes-col">
    <div class="recipes-wrapper" *ngFor="let res of craftingrequirement.craftresource  let i = index">
      <app-craft-resource
        [craftResource]="res"
        [selectedResourcePrice]="resourcesPrices[i]"
      />
      <div class="recipes-col">
        <app-input [displayOnly]="true" [value]="resourcesPrices[i]() * craftingrequirement.craftresource[i].count"/>
        <app-input [value]="resourcesPrices[i]()" (valueChange)="priceChangedManually(i, $event)"/>
      </div>
    </div>
  </div>


  <app-input class="summary" [displayOnly]="true" [value]="getResourcesPrice()"></app-input>
</div>
